.mod-quote.right{style: "background-image: url(#{image_path('bg_quote3.jpg')})"}
  .layout-wrap
    %blockquote
      “Lorem ipsum dolere sit amet nonummy consecuter adscpecit nomen es quid. Lorem ipsum dolere sit amet nonummy consecuter adscpecit.”
      %footer – Person Namehere

.mod-contact
  %form{method: 'post', action: '#'}
    %h2 Contact

    .inputs
      .input
        %input#name{type: 'text', autocorrect: 'off'}
        %label{for: 'name'} Name

      .input
        %input#email{type: 'email', autocapitalize: 'off', autocorrect: 'off'}
        %label{for: 'email'} Email address

    .input.textarea
      %textarea#comment
      %label{for: 'comment'} Question / Comment

    .input.submit
      %button.button.gray{type: 'submit'} Submit
      %p.thanks Thank you for your interest.
