.mod-quote.right{style: "background-image: url(#{image_path('bg_quote3.jpg')})"}
  .layout-wrap
    %blockquote
      “After graduation I was able to join a small startup and jump right into a critical
      role writing production code. There's no way I could have become so proficient so quickly
      without this program.”
      %footer – Kareem Grant

.mod-contact
  %form{method: 'post', action: '#'}
    %h2 Contact

    :markdown
      For fastest response, email us at [contact@jumpstartlab.com](mailto:contact@jumpstartlab.com)
