.mod-quote.right
  .layout-wrap
    %blockquote
      “Lorem ipsum dolere sit amet nonummy consecuter adscpecit nomen es quid. Lorem ipsum dolere sit amet nonummy consecuter adscpecit.”
      %footer – Person Namehere

.mod-text
  .layout-inner-wrap
    %h2 The Difference

    %h3 Instruction
    %p Lorem ipsum dolere sit amet nonummy lorem adscpecit es quid. Lorem ipsum dolere sit amet nonummy consecuter lorem adscpecit es quid. Lorem ipsum sit amet nonummy consecuter lorem adscpecit es quid. Lorem ipsum dolere sit amet nonummy lorem adscpecit es quid. Lorem ipsum dolere sit amet nonummy consecuter lorem adscpecit es quid. Lorem ipsum sit amet nonummy consecuter lorem adscpecit es quid.

    %h3 Curriculum
    %p Lorem ipsum dolere sit amet nonummy lorem adscpecit es quid. Lorem ipsum dolere sit amet nonummy consecuter lorem adscpecit es quid. Lorem ipsum sit amet nonummy consecuter lorem adscpecit es quid. Lorem ipsum dolere sit amet nonummy lorem adscpecit es quid. Lorem ipsum dolere sit amet nonummy consecuter lorem adscpecit es quid. Lorem ipsum sit amet nonummy consecuter lorem adscpecit es quid.
    %ul
      %li This is a bullet point. Lorem ipsum dolere sit amet nonummy lorem adscpecit es quid. Lorem ipsum dolere sit amet nonummy consecuter lorem adscpecit es quid.
      %li Another bullet point. Lorem ipsum sit amet nonummy consecuter lorem adscpecit es quid. Lorem ipsum dolere sit amet nonummy lorem adscpecit es quid.
      %li Multi-sentence bullet points. Lorem ipsum sit amet nonummy consecuter lorem adscpecit es quid. Lorem ipsum dolere sit amet nonummy lorem adscpecit es quid. Lorem ipsum dolere sit amet nonummy consecuter lorem adscpecit es quid.
      %li This is a bullet point. Lorem ipsum sit amet nonummy consecuter lorem adscpecit es quid. Lorem ipsum dolere sit amet nonummy lorem adscpecit es quid. Lorem ipsum dolere sit amet nonummy consecuter lorem adscpecit es quid. Lorem ipsum sit amet nonummy consecuter lorem adscpecit es quid.
    %p Lorem ipsum dolere sit amet nonummy lorem adscpecit es quid. Lorem ipsum dolere sit amet nonummy consecuter lorem adscpecit es quid. Lorem ipsum sit amet nonummy consecuter lorem adscpecit es quid.

    %h3 Results
    %p Lorem ipsum dolere sit amet nonummy lorem adscpecit es quid. Lorem ipsum dolere sit amet nonummy consecuter lorem adscpecit es quid. Lorem ipsum sit amet nonummy consecuter lorem adscpecit es quid. Lorem ipsum dolere sit amet nonummy lorem adscpecit es quid. Lorem ipsum dolere sit amet nonummy consecuter lorem adscpecit es quid. Lorem ipsum sit amet nonummy consecuter lorem adscpecit es quid.

= partial 'get_started'
