.mod-quote.right{style: "background-image: url(#{image_path('bg_quote2.jpg')})"}
  .layout-wrap
    %blockquote
      “The Turing team are expert engineers and visible community leaders, but more important is their experience teaching. You can find programs that are shorter and cheaper, but so-called 'bootcamps' do not compare to what you'll learn here.”
      %footer – Blair Anderson, Developer at <a href="http://quickleft.com" target="_blank">Quick Left</a>

.mod-text
  .layout-inner-wrap
    %h2 The Difference

    %h3 Instruction
    %p
      Being a good developer does not prepare you to teach development. The Turing staff blends programming experience with years of classroom instruction. No other team can match our depth of expertise and on-the-ground instructional experience. Our team:
    %ul
      %li is skilled in education pedagogy with almost 20 years of aggregate classroom experience
      %li builds on lessons learned from creating both Hungry Academy and gSchool
      %li trains professional development teams at top technology companies like LivingSocial, Boeing, Accenture, and Sony Playstation
      %li contributes to the community, presenting at and helping organize RubyConf, RailsConf, and dozens of smaller conferences
      %li is committed to making our program inviting and accessible to a broad range of people, regardless of academic background, professional background, age, race, gender, or sexual preference


    %h3 Curriculum
    %p No other program approaches the depth of expertise our students develop. Beyond simple Rails applications, our students master Test-Driven Development, build and consume APIs, implement systems of coordinating applications, and understand strong Object-Oriented design. Our academic curriculm:
    %ul
      %li has been refined over the past five years of full-time teaching
      %li includes everything a developer needs to build professional-quality web applications
      %li teaches the principles behind the code
      %li is published as open source, benefitting the community beyond our walls

    %h3 Results
    %p We build professional developers. Our seven-month instructional program is carefully crafted to prepare high-aptitude individuals for careers as software developers. Succeed in our program and you won’t just be an intern, you’ll be valuable. Graduates from our past programs:
    %ul
      %li consistently outperform graduates from other developer training programs
      %li have all found full-time development jobs within 12 weeks of graduation
      %li typically receive three or more job offers in the range $60K-$110K
      %li find employment in their top-choice destinations including Denver/Boulder, SF, NYC, Chicago, Atlanta, DC, Portland, Dallas, internationally, and remote
      %li are hired at companies like Pivotal Labs, thoughtbot, LivingSocial, Mondo Robot, EverFi, iTriage, TurboVote, Quick Left, the National Park Service, TableXI, and Techstars

= partial 'get_started'
