.mod-quote.right
  .layout-wrap
    %blockquote
      “Lorem ipsum dolere sit amet nonummy consecuter adscpecit nomen es quid. Lorem ipsum dolere sit amet nonummy consecuter adscpecit.”
      %footer – Person Namehere

= partial 'get_started'
