.mod-text
  .layout-inner-wrap
    %h2 Our Program

    %h3 Admissions
    %p
      Across our programs we've evaluated almost a thousand candidates, selecting fewer than 8%. Applications are always open, there are no deadlines. Individual classes close when all seats are allocated. Our initial application requires:
    %ul
      %li
    :markdown
      * **Your Resume**: Help us understand your past. There are no checkbox items or exact requirements. You resume can only help you.
      * **Writing Sample**: Can you effectively communicate and explain a complex idea?
      * **Video Response**: The video is your chance to show us your personality, spirit, and style. Make the case that you're a great fit for our community and will surpass expectations.
      * **Logic Challenge**: Writing code is about solving problems. In this series of small exercises you can demonstrate your aptitude for programming.

    %p
      After your application is submitted you'll hear back from us within two weeks.
    %p
      If you're selected to move forward, we'll then setup a one-hour interview either in person or over a Google Hangout to continue assessing your fit for the program. About one in four applicants makes it to this stage.
    %p
      Within a week of the interview you'll be notified of the final decision. Approximately one in ten students will be invited to enroll. Invited applicants can then select in any currently open class. Classes are opened six months before they begin and close when filled. 2014 classes currently open start June 2nd, July 21st, September 8th, and October 27 all in Denver, CO.

    %h3 Program Structure
    :markdown
      Our Web Development program is a full-time seven-month commitment made up of four six-week classes with a one-week intermission between each. Each class has 20-28 students. A new group of students begins the program every seven weeks.

      The six-week classes include:

      1. TDD with Ruby
      2. Ruby Web Applications with Sinatra & Rails
      3. Professional Web Applications
      4. High-Performance Applications with APIs and Services

      Each class has a mid-point and final assessment. Students must pass the final assessment to move on. Students who fail a class can choose to roll back one cohort to repeat the class. Tuition in the program buys credits for four classes, so a student repeating a class can choose to either leave without finishing all four classes or purchase additional class credits at half price.

    %h3 An Inclusive Community
    %p
      Turing is on a social justice mission to open the world of programming to more great people. Our shared space is an opportunity to showcase the best of what we can be. It's an environment where all persons and opinions are welcome, as long as their purpose is to build each other up not tear each other down. In debate and in action, we encourage opinions defended with rational discourse, and respect that they're rooted in constructivist ideals. We consider carefully the effect our choices have on others, both inside and outside our group. Our intent, words, and actions go beyond tolerance to acceptance: encouraging individuals to become the people they want to be.
    %p
      If you believe in building people, communities, and software, then you are welcome here.

    %h3 Results
    %p This will likely be the most difficult academic experience of your life. But we promise it's worth it. We have a proven track record in building great developers with 100% of graduates employed as developers at companies like:
    %ul.logos
      - ['livingsocial', 'pivotallabs', 'quickleft', 'itriage', 'turbovote', 'cardflight', 'bonobos', 'zenpayroll', 'everfi', 'tablexl', 'maui'].each do |logo|
        %li= image_tag("logos/#{logo}.png", :alt => logo)

.mod-tuition
  .layout-inner-wrap
    %h2 Tuition
    %p Program tuition is $17,500. Many students elect to defer a portion of their tuition until after they are employed.

    %ul
      %li.one
        %h3 Up Front Payment
        %dl
          %dt Deposit
          %dd $1000
          %dt First Day
          %dd $16,500
          %dt Total Paid
          %dd.total $17,500
      %li.two
        %h3 Moderate Deferment
        %dl
          %dt Deposit
          %dd $1000
          %dt First Day
          %dd $9000
          %dt After Program
          %dd 24 months @ $375/month
          %dt Total Paid
          %dd.total $19,000
      %li.three
        %h3 Intermediate Deferment
        %dl
          %dt Deposit
          %dd $1000
          %dt First Day
          %dd $6500
          %dt After Program
          %dd 30 months @ $433/month
          %dt Total Paid
          %dd.total $20,500
      %li.four
        %h3 Maximum Deferment
        %dl
          %dt Deposit
          %dd $1000
          %dt First Day
          %dd $4000
          %dt After Program
          %dd 36 months @ $472/month
          %dt Total Paid
          %dd.total $22,000

= partial 'get_started'
